# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.in
*.app

/__pycache__/*
/py_cubin/__pycache__/*
/build/*
*.orig
*.pickle
*.rename
*.zlib
*.s
__auto_generated_*
__install_log_*
*.autogen.*
*.db

# remove this at some point
*.typed